In [1]:
import snowflake.connector
import pandas as pd
from snowflake.connector.pandas_tools import write_pandas

## load all station information

In [3]:
cur = conn.cursor().execute("SELECT * FROM station")
df = cur.fetch_pandas_all()

In [4]:
df

        STAID                         STANAME   LAT_GAGE    LNG_GAGE    CLASS
0     9423350       CARUTHERS C NR IVANPAH CA  35.244989 -115.298876      Ref
1    10250800           DARWIN C NR DARWIN CA  36.320496 -117.523955  Non-ref
2    10251300    AMARGOSA RIVER AT TECOPA  CA  35.848577 -116.230024  Non-ref
3    10255700       SAN FELIPE C NR JULIAN CA  33.118654 -116.435293  Non-ref
4    10255800  COYOTE C NR BORREGO SPRINGS CA  33.373645 -116.427514      Ref
..        ...                             ...        ...         ...      ...
805  11528500         HAYFORK C NR HYAMPOM CA  40.625975 -123.434758  Non-ref
806  11528700      SF TRINITY R BL HYAMPOM CA  40.649863 -123.494205      Ref
807  11530000            TRINITY R A HOOPA CA  41.049852 -123.672001  Non-ref
808  11530500         KLAMATH R NR KLAMATH CA  41.510954 -123.979516  Non-ref
809  11532500     SMITH R NR CRESCENT CITY CA  41.791503 -124.076189      Ref

[810 rows x 5 columns]

## load streamflow of sites

In [5]:
# this operation is not approriate: it may be failed due to memory outrage.
cur = conn.cursor().execute("SELECT * FROM streamflow")
df = cur.fetch_pandas_all()

In [9]:
df.head()

         DATE     STAID  STREAMFLOW
0  1941-09-05  11314500        12.0
1  1941-09-06  11314500        12.0
2  1941-09-07  11314500        12.0
3  1941-09-08  11314500        12.0
4  1941-09-09  11314500        12.0

In [8]:
datum = df.pivot_table(index='DATE', columns='STAID')

In [10]:
datum

           STREAMFLOW                                                        \
STAID        10250800 10251300 10255700 10255800 10255810 10255850 10256000
DATE
1891-01-01        NaN      NaN      NaN      NaN      NaN      NaN      NaN
1891-01-02        NaN      NaN      NaN      NaN      NaN      NaN      NaN
1891-01-03        NaN      NaN      NaN      NaN      NaN      NaN      NaN
1891-01-04        NaN      NaN      NaN      NaN      NaN      NaN      NaN
1891-01-05        NaN      NaN      NaN      NaN      NaN      NaN      NaN
...               ...      ...      ...      ...      ...      ...      ...
2019-10-10        NaN     0.04      NaN      NaN      0.0      NaN      NaN
2019-10-11        NaN     0.05      NaN      NaN      0.0      NaN      NaN
2019-10-12        NaN     0.05      NaN      NaN      0.0      NaN      NaN
2019-10-13        NaN     0.05      NaN      NaN      0.0      NaN      NaN
2019-10-14        NaN     0.05      NaN      NaN      0.0      NaN      NaN

                                       ...                             \
STAID      10256500 10257500 10257548  ... 11521500 11522500 11523000
DATE                                   ...
1891-01-01      NaN      NaN      NaN  ...      NaN      NaN      NaN
1891-01-02      NaN      NaN      NaN  ...      NaN      NaN      NaN
1891-01-03      NaN      NaN      NaN  ...      NaN      NaN      NaN
1891-01-04      NaN      NaN      NaN  ...      NaN      NaN      NaN
1891-01-05      NaN      NaN      NaN  ...      NaN      NaN      NaN
...             ...      ...      ...  ...      ...      ...      ...
2019-10-10     2.79     0.61    177.0  ...     53.7    217.0   1800.0
2019-10-11     2.81     0.64    160.0  ...     53.2    216.0   1810.0
2019-10-12     2.82     0.65    156.0  ...     53.2    215.0   1860.0
2019-10-13     2.83     0.65    162.0  ...     52.8    213.0   1900.0
2019-10-14     1.76     0.65    180.0  ...     52.5    212.0   1890.0


STAID      11523200 11525500 11525530 11525600 11525630 11525655 11525670
DATE
1891-01-01      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1891-01-02      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1891-01-03      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1891-01-04      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1891-01-05      NaN      NaN      NaN      NaN      NaN      NaN      NaN
...             ...      ...      ...      ...      ...      ...      ...
2019-10-10     43.0    461.0     3.26      NaN      NaN    457.0     4.52
2019-10-11     42.9    463.0     3.40      NaN      NaN    459.0     4.60
2019-10-12     42.6    461.0     3.43      NaN      NaN    458.0     4.62
2019-10-13     42.2    461.0     3.37      NaN      NaN    459.0     4.58
2019-10-14     42.0    428.0     3.31      NaN      NaN    432.0     4.48

[47038 rows x 794 columns]